<!-- views/partials/footer.ejs -->

	<div id="bodyFooter">
		DESIGNED & BUILT BY MITCHELL MAHONEY
	</div>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script async src="public/javascript/output.min.js"></script>

</body>

</html>