<!-- views/partials/header.ejs -->

<div id="pageHead">
    <div id="titleWrapper">
        <div id="titleBar">
            <h1>MITCHELL MAHONEY</h1>
        </div>
        <div id="navContainer">
            <a href="#talent"><li class="navButton hvr-float">TALENT</li></a>
            <a href="#work"><li class="navButton hvr-float">WORK</li></a>
            <a href="#contact"><li class="navButton lastNav hvr-float">CONTACT</li></a>
        </div>
    </div>
</div>