<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Mitchell Mahoney</title>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="public/css/reset.css">
<link rel="stylesheet" type="text/css" href="public/css/main.css">
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="public/javascript/functions.js"></script>