<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="public/images/favicon.ico">
<title>Mitchell Mahoney</title>

<!-- CSS -->
<link rel="stylesheet" href="public/css/reset.min.css">
<link rel="stylesheet" href="public/css/main.min.css">
<!-- <link rel="stylesheet" href="public/css/hover.min.css"> -->
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script async src="public/javascript/output.min.js"></script>