<!-- views/partials/header.ejs -->

<div id="pageHead">
    <div id="titleWrapper">
        <div id="titleBar">
            <h1>MITCHELL MAHONEY</h1>
        </div>
        <li class="navButton">TALENT</li>
        <li class="navButton">WORK</li>
        <li class="navButton">CONTACT</li>
    </div>
</div>