<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>
    
	<div id="talent" class="contentSection">
		<div class="contentLeft" id="bio">
			<img src="http://unsplash.it/g/700/?random=2">
			<p>I am a self taught web developer living in Greenville, SC.
			Well thought-out design and intuitive interfaces are qualities I admire and wish to exhibit in my work. Please take a moment to look over my history and the work I am involved with.</p>
		</div>
		<div class="contentCenter">
			<h2>TALENT</h2><br>
			<p>My background and education are in print production. I hold a BS in Graphic Communications. All of my development skills are self taught. These include HTML, CSS3, Javascript, jQuery, and the nodejs framework. I also have some experience with Java and understand Object Oriented Programming.</p>
			<div id="badges">
				<img src="public/images/HTML5.png">
				<img src="public/images/Javascript.png">
				<img src="public/images/CSS3.png">
				<img src="public/images/jquery.png">
				<img src="public/images/nodejs.png">
				<img src="public/images/java.png">
			</div>
			<p>I have 2+ years experience working in a corporate environement for one of the world's largest print organizations. I have handled projects ranging from programming custom variable data postcard web templates to core improvements in our oprations workflow.</p>
		</div>
		<div class="contentRight">
			<h3>EXPERIENCE</h3><br>
			<div class="projectBlock experience">
				<h4 class="title">TECHNOLOGY COORDINATOR</h4><span class="company">Electric City Printing<span>&emsp;</span>ECP</span><br>
				<p>Deployed and managed multiple online storefronts with integrated inventory management systems. Worked with sales staff by providing information and demonstrations involving print-on-demand variable data products. Assisted in process improvements and gathering of financial metrics.</p>
			</div>
			<div class="projectBlock experience">
				<h4 class="title">LEADERSHIP DEV. ASSOC.</h4><span class="company">Electric City Printing<span>&emsp;</span>ECP</span><br>
				<p>Trained in all print departments including digial workflow, press operation, finishing, customer service, sales, and accounting. Assisted customers with orders and managed print projects of various sizes. Assisted in majot process improvements leading to a 80% decrease in order turn time.</p>
			</div>
		</div>
	</div>

	<div id="work" class="contentSection">
		<div class="contentLeft">
		</div>
		<div class="contentCenter">
			<h2>WORK</h2><br>
			<div id='thumbsContainer'>
				<div class="thumb"><img src="http://unsplash.it/g/300/?random=3"></div>
				<div class="thumb"><img src="http://unsplash.it/g/300/?random=4"></div>
				<div class="thumb"><img src="http://unsplash.it/g/300/?random=5"></div>
				<div class="thumb"><img src="http://unsplash.it/g/300/?random=6"></div>
				<div class="thumb"><img src="http://unsplash.it/g/300/?random=7"></div>
				<div class="thumb"><img src="http://unsplash.it/g/300/?random=8"></div>
			</div>
		</div>
		<div class="contentRight">
			<h3>PROJECTS</h3><br>
			<div class="projectBlock blockLink">
				<a href="http://github.com/msmahon/munchbuggee" target="_blank">
					<h4>MUNCHBUGGEE</h4>
					<p>Grocery stores do not want to lose revenue through perishable food items and consumers like to save money. MunchBuggee creates a marketplace for "Day-before-expiration" items to be sold at discount to local consumers.</p>
				</a>
			</div>
			<div class="projectBlock">
				<h4>LAGER</h4>
				<p>Discover new beers by searching for similar ingredients. Identify the hops, malts, grains, and fruits that you like and use those to find beers with similar ingredients.</p>
			</div>
		</div>

		
	</div>

	<div id="contact" class="contentSection">
		
	</div>

</body>

</html>